In [1]:
import pandas as pd
import cufflinks as cf; cf.go_offline()

from alphadog.data.finra_data import load_finra_data

In [16]:
start_1 = '20191104'
end_1 = '20191108'

start_2 = '20200325'
end_2 = '20200331'

In [17]:
def get_finra_date_range(start, end):
    df_list = []
    
    for dt in pd.bdate_range(start, end):
        date_str = dt.strftime('%Y%m%d')
        tmp_df = load_finra_data(date_str)
        df_list.append(tmp_df)
        
    df = pd.concat(df_list)
    df = df.sort_values(['Date', 'Symbol'])
    
    return df

In [18]:
old_df = get_finra_date_range(start_1, end_1)
new_df = get_finra_date_range(start_2, end_2)

In [21]:
old_df

,Date,Symbol,ShortVolume,ShortExemptVolume,TotalVolume,Market,short_pct
0,2019-11-04,A,77674.0,200.0,296558.0,"B,Q,N",26.191841
1,2019-11-04,AA,444491.0,5464.0,1136162.0,"B,Q,N",39.122150
2,2019-11-04,AAAU,9093.0,0.0,11757.0,"Q,N",77.341158
3,2019-11-04,AACG,3946.0,0.0,5449.0,"Q,N",72.416957
4,2019-11-04,AADR,1266.0,0.0,2386.0,Q,53.059514
...,...,...,...,...,...,...,...
7920,2019-11-08,ZUO,37413.0,601.0,194450.0,"B,Q,N",19.240422
7921,2019-11-08,ZVO,29650.0,0.0,63493.0,"Q,N",46.698061
7922,2019-11-08,ZYME,27631.0,0.0,101449.0,"Q,N",27.236345
7923,2019-11-08,ZYNE,401402.0,2864.0,637372.0,"B,Q,N",62.977665
7924,2019-11-08,ZYXI,52187.0,0.0,96160.0,"Q,N",54.271007

In [19]:
new_df

            Date Symbol  ShortVolume  ShortExemptVolume  TotalVolume Market
0     2020-03-25      A     286116.0             1300.0     509459.0  B,Q,N
1     2020-03-25     AA    1794501.0            11585.0    4654556.0  B,Q,N
2     2020-03-25   AAAU      88567.0                0.0     138038.0  B,Q,N
3     2020-03-25   AACG        141.0                0.0       3369.0      Q
4     2020-03-25   AADR      19426.0                0.0      35536.0      Q
...          ...    ...          ...                ...          ...    ...
8167  2020-03-31    ZUO     274434.0             1599.0     523103.0  B,Q,N
8168  2020-03-31    ZVO      14774.0             1130.0      71752.0    Q,N
8169  2020-03-31   ZYME      42920.0             2590.0     103845.0    Q,N
8170  2020-03-31   ZYNE      71481.0              565.0     203750.0    Q,N
8171  2020-03-31   ZYXI      30522.0              100.0      73302.0  B,Q,N

[41070 rows x 6 columns]

In [22]:
ticker_list = ['MSFT', 'AAPL', 'AMZN', 'GOOG', 'JPM', 'DIS']

In [20]:
old_df['short_pct'] = old_df['ShortVolume'] / old_df['TotalVolume'] * 100
old_df_res = old_df.query("Symbol in @ticker_list")

In [25]:
new_df['short_pct'] = new_df['ShortVolume'] / new_df['TotalVolume'] * 100
new_df_res = new_df.query("Symbol in @ticker_list")

In [30]:
sym = 'FB'

In [31]:
old_df.loc[old_df['Symbol'] == sym, ['Date', 'short_pct']]

            Date  short_pct
2459  2019-11-04  50.363922
2447  2019-11-05  53.853892
2441  2019-11-06  54.906690
2471  2019-11-07  48.762108
2432  2019-11-08  48.354312

In [32]:
new_df.loc[new_df['Symbol'] == sym, ['Date', 'short_pct']]

            Date  short_pct
2578  2020-03-25  35.004418
2567  2020-03-26  37.732842
2556  2020-03-27  34.784472
2535  2020-03-30  40.430239
2537  2020-03-31  42.953958